<c-card class="mb-4">
    <c-card-header>
        <strong>Gói dịch vụ Banner</strong>
    </c-card-header>
    <c-card-body>
        <div class="d-flex justify-content-between mb-3">
            <div class="d-flex">
                <div class="me-3 d-flex align-items-center">
                    <label for="name" class="me-1">Tên: </label>
                    <input type="text" id="name" [(ngModel)]="filter.name" cFormControl placeholder="gói A">
                </div>
                <!-- <div class="d-flex align-items-center me-3">
                    <label for="rental" class="me-1">Trạng thái: </label>
                    <select name="" id="rental" cSelect [(ngModel)]="filter.status">
                        <option value="">Tất cả</option>
                        <option [value]="false">Hoạt động</option>
                        <option [value]="true">Không hoạt động</option>
                    </select>
                </div> -->
                <button cButton (click)="search()">Tìm kiếm</button>
            </div>
            <div class="d-flex">
                <!-- <button cButton class="me-1" (click)="createRentalPackage()">Tạo nhóm dịch vụ</button> -->
                <button cButton color="success" (click)="createPackage()">{{btnCreateLabel}}</button>
            </div>
        </div>
        <table cTable bordered>
            <thead>
                <tr>
                    <th scope="col" [cAlign]="'middle'">STT</th>
                    <th scope="col" [cAlign]="'middle'">Tên gói</th>
                    <th scope="col" [cAlign]="'middle'">Thời gian hiệu lực</th>
                    <th scope="col" [cAlign]="'middle'">Giá</th>
                    <th scope="col" [cAlign]="'middle'">Mô tả</th>
                    <th scope="col" [cAlign]="'middle'">Lợi ích</th>
                    <th scope="col" [cAlign]="'middle'">Cập nhật</th>
                    <th scope="col" [cAlign]="'middle'">Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="!loading && !package.length">
                    <td [colSpan]="8">
                        <div class="text-center">
                            <span>Không tìm thấy gói dịch vụ nào</span>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let item of package; let index = index">
                    <td>{{item.stt}}</td>
                    <td>{{item.title}}</td>
                    <td>
                        {{item.timeExpired}}
                    </td>
                    <td>
                        <p class="m-0">Giá thực: {{item.price | number: '1.0-1'}}vnđ</p>
                        <p class="m-0">Giá sau khi giảm: {{item.discount | number: '1.0-1'}}vnđ</p>
                    </td>
                    <td class="text-break" style="max-width: 100px;">
                        {{item.description}}
                    </td>
                    <td>
                        <ng-container [ngTemplateOutlet]="benefit"
                            [ngTemplateOutletContext]="{name:'Popup khi vào trang chủ',value:item.spotlight}">
                        </ng-container>
                        <ng-container [ngTemplateOutlet]="benefit"
                            [ngTemplateOutletContext]="{name:'Trang chủ khu vực A',value:item.homepageBannerA}">
                        </ng-container>
                        <ng-container [ngTemplateOutlet]="benefit"
                            [ngTemplateOutletContext]="{name:'Trang chủ khu vực B',value:item.homepageBannerB}">
                        </ng-container>
                        <ng-container [ngTemplateOutlet]="benefit"
                            [ngTemplateOutletContext]="{name:'Trang chủ khu vực C',value:item.homepageBannerC}">
                        </ng-container>
                        <ng-container [ngTemplateOutlet]="benefit"
                            [ngTemplateOutletContext]="{name:'Trang công việc khu vực A',value:item.jobBannerA}">
                        </ng-container>
                        <ng-container [ngTemplateOutlet]="benefit"
                            [ngTemplateOutletContext]="{name:'Trang công việc khu vực B',value:item.jobBannerB}">
                        </ng-container>
                        <ng-container [ngTemplateOutlet]="benefit"
                            [ngTemplateOutletContext]="{name:'Trang công việc khu vực C',value:item.jobBannerC}">
                        </ng-container>
                    </td>
                    <td>
                        {{item.updatedAt | date: 'dd/MM/YYYY'}}
                    </td>
                    <td>
                        <button cButton color="info" (click)="createPackage(index,item)">Sửa</button>
                    </td>
                </tr>
                <tr *ngIf="loading">
                    <td [colSpan]="8">
                        <div class="text-center">
                            <c-spinner></c-spinner>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination [previousText]="'Trang trước'" [nextText]="'Trang tiếp'" [totalItems]="totals"
            [itemsPerPage]="filter.pageSize" [(ngModel)]="filter.pageNo" (pageChanged)="pageChange($event)"
            *ngIf="package.length"></pagination>
    </c-card-body>
</c-card>

<ng-template #benefit let-value="value" let-name="name">
    <p class="m-0">{{name}}: {{value ? 'Có' :'Không'}}</p>
</ng-template>