<c-modal-header>
  <h5 cModalTitle>Xác thực</h5>
  <button cButtonClose (click)="onClose.emit(false)"></button>
</c-modal-header>
<c-modal-body>{{message}}</c-modal-body>
<c-modal-footer>
  <button cButton color="secondary" (click)="onClose.emit(false)">Hủy</button>
  <button cButton color="primary" (click)="onClose.emit(true)">Đồng ý</button>
</c-modal-footer>