<c-card class="mb-4">
  <c-card-header>
    <strong>Tài khoản bị báo cáo</strong>
  </c-card-header>
  <c-card-body>
    <div class="row">
      <div class="col-4">
        <label cLabel for="username">Tên đăng nhập</label>
        <input cFormControl id="username" placeholder="Tên đăng nhập" type="text" [(ngModel)]="request.username" />
      </div>
      <div class="col-4">
        <label cLabel for="username">Tên người báo cáo</label>
        <input cFormControl id="username" placeholder="username" type="text" [(ngModel)]="request.personReportName" />
      </div>
      <div class="col-4 d-flex align-items-end">
        <button [color]="'primary'" cButton (click)="search()">Tìm kiếm</button>
      </div>
    </div>
    <table cTable>
      <thead>
        <tr>
          <th scope="col" [cAlign]="'middle'">Tên đăng nhập</th>
          <th scope="col" [cAlign]="'middle'">Lý do báo cáo</th>
          <th scope="col" [cAlign]="'middle'">Email</th>
          <th scope="col" [cAlign]="'middle'">Người báo cáo</th>
          <th scope="col" [cAlign]="'middle'">Lần cuối đăng nhập</th>
          <th scope="col" [cAlign]="'middle'">Khóa</th>
          <th scope="col" [cAlign]="'middle'">Số lần bị block</th>
          <th scope="col" [cAlign]="'middle'">Đường dẫn</th>
          <th scope="col" [cAlign]="'middle'">Ngày báo cáo</th>
          <th scope="col" [cAlign]="'middle'">Ngày bắt đầu khóa</th>
          <th scope="col" [cAlign]="'middle'">Ngày kết thúc khóa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listUser">
          <th scope="col" [cAlign]="'middle'">{{item.userName}}</th>
          <th scope="col" [cAlign]="'middle'">{{item.reportedReason}}</th>
          <th scope="col" [cAlign]="'middle'">{{item.email}}</th>
          <th scope="col" [cAlign]="'middle'">{{item.personReportName}}</th>
          <th scope="col" [cAlign]="'middle'">{{item.lastLogin}}</th>
          <th scope="col" [cAlign]="'middle'">{{item.isLocked ? 'Y' : 'N'}}</th>
          <th scope="col" [cAlign]="'middle'">{{item.blockedCount}}</th>
          <th scope="col" [cAlign]="'middle'">{{item.relatedLink}}</th>
          <th scope="col" [cAlign]="'middle'">{{item.createdAt | date: 'DD/MM/YYYY'}}</th>
          <th scope="col" [cAlign]="'middle'">{{item.startDateLocked}}</th>
          <th scope="col" [cAlign]="'middle'">{{item.endDateLocked}}</th>
        </tr>
      </tbody>
    </table>
    <pagination [previousText]="'Trang trước'" [nextText]="'Trang tiếp'" [totalItems]="totalItems"
      [itemsPerPage]="request.pageSize" [(ngModel)]="request.pageNo" (pageChanged)="onPageChange($event)"></pagination>
  </c-card-body>
</c-card>