<div class="modal-header">
  <h5 class="modal-title">Báo cáo tin tuyển dụng</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onClose.emit()"></button>
</div>
<div class="modal-body">
  <p>Tin tuyển dụng</p>
  <p class="px-3 fw-bold">{{job.jobName}}</p>
  <form [formGroup]="form" class="pt-3">
    <c-col *ngIf="form.controls['reason']; let control">
      <label cLabel for="reason">Lí do báo cáo</label>
      <textarea cFormControl id="reason" placeholder="công việc này mô tả không đúng sự thật"
        formControlName="reason"></textarea>
    </c-col>
    <c-col *ngIf="form.controls['fullName']; let control">
      <label cLabel for="fullName">Họ và tên</label>
      <input cFormControl id="fullName" placeholder="Nguyễn Văn A" formControlName="fullName" type="text" />
    </c-col>
    <c-col *ngIf="form.controls['phone']; let control">
      <label cLabel for="phone">Số điện thoại</label>
      <input cFormControl id="phone" placeholder="xxx.xxx.xxx" formControlName="phone" type="text" />
    </c-col>
    <c-col *ngIf="form.controls['address']; let control">
      <label cLabel for="address">Địa chỉ</label>
      <input cFormControl id="address" placeholder="Trung kính, Hà Nội" formControlName="address" type="text" />
    </c-col>
    <c-col *ngIf="form.controls['email']; let control">
      <label cLabel for="email">Email</label>
      <input cFormControl id="email" placeholder="name@gmail.com" formControlName="email" type="email" />
    </c-col>
  </form>
  <div class="d-flex justify-content-center">
    <button class="btn btn-danger fit-content me-3">Báo cáo</button>
    <button class="btn btn-secondary fit-content" (click)="onClose.emit()">Hủy</button>
  </div>
</div>