<c-modal-header>
  <h5 cModalTitle>Tạo tài khoản</h5>
  <button cButtonClose (click)="close()"></button>
</c-modal-header>
<c-modal-body>
  <form [formGroup]="form" cForm class="row needs-validation" [validated]="(form.touched || form.dirty) " novalidate
    (ngSubmit)="submit()">
    <!-- <c-col xs="12" *ngIf="form.controls['username']; let control">
      <label cLabel for="username">Tên đăng nhập</label>
      <input cFormControl id="username" formControlName="username" type="text" required placeholder="adminA" />
      <c-form-feedback [valid]="false">
        Tên đăng nhập không được bỏ trống</c-form-feedback>
    </c-col> -->
    <c-col xs="6" *ngIf="form.controls['fullName']; let control">
      <label cLabel for="fullName">Họ và Tên</label>
      <input cFormControl id="fullName" formControlName="fullName" type="text" placeholder="nguyen van a" />
      <c-form-feedback [valid]="false">Họ và tên</c-form-feedback>
    </c-col>
    <c-col xs="6" *ngIf="form.controls['email']; let control">
      <label cLabel for="email">Email</label>
      <input cFormControl id="email" formControlName="email" type="email"
        [valid]="(form.touched || form.dirty) ? control.errors == null : undefined" placeholder="abc@gmail.com" />
      <c-form-feedback *ngIf="control.errors">Email không hợp lệ</c-form-feedback>
    </c-col>
    <c-col xs="6" *ngIf="form.controls['password']; let control">
      <label cLabel for="password">Mật khẩu</label>
      <input cFormControl id="password" formControlName="password" type="password"
        [valid]="(form.touched || form.dirty) ? control.errors == null : undefined" placeholder="abc" />
      <c-form-feedback *ngIf="control.errors">Mật khẩu không hợp lệ</c-form-feedback>
    </c-col>
    <c-col xs="6" *ngIf="form.controls['confirmPassword']; let control">
      <label cLabel for="confirmPassword">Xác nhận mật khẩu</label>
      <input cFormControl id="confirmPassword" formControlName="confirmPassword" type="password" required
        placeholder="abc" />
      <c-form-feedback [valid]="false">Xác nhận mật khẩu không được bỏ trống</c-form-feedback>
    </c-col>
    <!-- <c-col *ngIf="form.controls['roleId']; control">
      <c-row>
        <c-col xs="6">
          <c-form-check>
            <input cFormCheckInput type="radio" [value]="role.admin" formControlName="roleId" />
            <label cFormCheckLabel>Quản trị viên</label>
          </c-form-check>
        </c-col>
        <c-col xs="6">
          <c-form-check>
            <input cFormCheckInput type="radio" [value]="role.counselors" formControlName="roleId" />
            <label cFormCheckLabel>Tư vấn viên</label>
          </c-form-check>
        </c-col>
      </c-row>
    </c-col> -->
    <div class="d-flex justify-content-end">
      <button cButton class="me-1" color="primary" type="submit" class="d-none" #btn> </button>
    </div>
  </form>
</c-modal-body>
<c-modal-footer>
  <button cButton color="secondary" (click)="close()" [disabled]="loading">Hủy <c-spinner size="sm" *ngIf="loading">
    </c-spinner></button>
  <button cButton color="primary" [disabled]="loading" (click)="btn.click()">Tạo <c-spinner size="sm" *ngIf="loading">
    </c-spinner></button>
</c-modal-footer>