<div class="example mb-3">
    <c-nav variant="tabs">
        <c-nav-item>
            <a [active]="true" [cTabContent]="tabContent" [fragment]="fragment" routerLink="./" [tabPaneIdx]="0" cNavLink>
                <svg cIcon class="me-2" name="cilMediaPlay"></svg> Xem trước
            </a>
        </c-nav-item>
        <c-nav-item>
            <a [href]="href" cNavLink target="_blank">
                <svg cIcon class="me-2" name="cilCode"></svg> Code
            </a>
        </c-nav-item>
    </c-nav>
    <c-tab-content #tabContent="cTabContent" cRounded="bottom">
        <c-tab-pane aria-labelledby="docs-code-preview" class="p-3 preview" role="tabpanel">
            <ng-content></ng-content>
        </c-tab-pane>
    </c-tab-content>
</div>