<c-modal-header>
  <h5 cModalTitle>{{titleModal}}</h5>
  <button cButtonClose (click)="onClose.emit()" [disabled]="loading"></button>
</c-modal-header>
<c-modal-body>
  <form [formGroup]="form" cForm class="row needs-validation" [validated]="(form.touched || form.dirty) " novalidate
    (ngSubmit)="submit()">
    <c-col xs="6" *ngIf="form.controls['detailName']; let control">
      <label cLabel for="detailName">Tên gói</label>
      <input cFormControl id="detailName" formControlName="detailName" type="text"
        [valid]="(form.touched || form.dirty) ? control.errors == null : undefined" placeholder="gói dịch vụ A" />
      <c-form-feedback *ngIf="control.errors">
        Tên gói không hợp lệ</c-form-feedback>
    </c-col>
    <!-- <c-col xs="6" *ngIf="form.controls['rentalPackageId']; let control">
      <label cLabel for="rentalPackageId">Nhóm dịch vụ</label>
      <input cFormControl id="rentalPackageId" type="text" value="{{rentalName}}" disabled />
    </c-col> -->
    <c-col xs="6" *ngIf="form.controls['price']; let control">
      <label cLabel for="price">Giá</label>
      <input cFormControl id="price" formControlName="price" type="number" placeholder="50000" min="50000" required />

      <c-form-feedback [valid]="false">Giá không hợp lệ</c-form-feedback>

    </c-col>
    <c-col xs="6" *ngIf="form.controls['discount']; let control">
      <label cLabel for="discount">Giá sau khi giảm</label>
      <input cFormControl id="discount" formControlName="discount" type="number" placeholder="50000" />
      <c-form-feedback [valid]="false">Giá sau khi giảm không hợp lệ</c-form-feedback>
    </c-col>
    <c-col xs="6" *ngIf="form.controls['maxCvView']; let control">
      <label cLabel for="maxCvView">Số CV tối đa được xem</label>
      <input cFormControl id="maxCvView" formControlName="maxCvView" type="number" placeholder="1" min="1"
        required="true" />
      <c-form-feedback [valid]="false">Số CV tối đa được xem không hợp lệ</c-form-feedback>
    </c-col>
    <c-col xs="6" *ngIf="form.controls['timeExpired']; let control">
      <label cLabel for="timeExpired">Thời gian hiệu lực</label>
      <c-input-group>
        <input cFormControl id="timeExpired" formControlName="timeExpired" type="number" placeholder="1" min="1"
          required />
        <span cInputGroupText>Ngày</span>
        <c-form-feedback [valid]="false">Thời gian hiệu lực không hợp lệ</c-form-feedback>
      </c-input-group>
    </c-col>
    <ng-container *ngIf="rentalPackageId === paymentRental.advertisement">
      <c-col xs="6" *ngIf="form.controls['relatedJob']; let control">
        <c-form-check>
          <input cFormCheckInput id="relatedJob" type="checkbox" formControlName="relatedJob" />
          <label cFormCheckLabel for="relatedJob">Công việc liên quan</label>
        </c-form-check>
      </c-col>
      <c-col xs="6" *ngIf="form.controls['suggestJob']; let control">
        <c-form-check>
          <input cFormCheckInput id="suggestJob" type="checkbox" formControlName="suggestJob" />
          <label cFormCheckLabel for="suggestJob">Gợi ý công việc</label>
        </c-form-check>
      </c-col>
    </ng-container>

    <c-col xs="12" *ngIf="form.controls['description']; let control" class="mb-3">
      <label cLabel for="description">Mô tả</label>
      <textarea cFormControl id="description" formControlName="description" type="text"
        placeholder="Mô tả gói dịch vụ"></textarea>
    </c-col>
    <div class="d-flex justify-content-end">
      <button cButton class="me-1" color="primary" type="submit" [disabled]="loading">
        {{btnLabel}} <c-spinner size="sm" *ngIf="loading"></c-spinner>
      </button>
    </div>
  </form>
</c-modal-body>