<c-card class="mb-4">
    <c-card-header>
        <strong>Quản lý yêu cầu dịch vụ Banner</strong>
    </c-card-header>
    <c-card-body>
        <div class="d-flex  mb-3">
            <div class="me-3 d-flex align-items-center">
                <label for="name" class="me-1 text-nowrap">Tên gói: </label>
                <input type="text" id="name" [(ngModel)]="filter.screenName" cFormControl placeholder="gói A">
            </div>
            <div class="me-3 d-flex align-items-center">
                <label for="from" class="me-1  text-nowrap">Từ ngày: </label>
                <input type="text" id="from" [(ngModel)]="filter.from" cFormControl placeholder="gói A" bsDatepicker>
            </div>
            <div class="me-3 d-flex align-items-center">
                <label for="to" class="me-1  text-nowrap">Đến ngày: </label>
                <input type="text" id="to" [(ngModel)]="filter.to" cFormControl placeholder="gói A" bsDatepicker>
            </div>
            <button cButton (click)="search()" [disabled]="loading">Tìm kiếm</button>
        </div>
        <ng-container *ngIf="list$ | async; let list; else loadingTemp">
            <table cTable bordered [responsive]="true">
                <thead>
                    <tr>
                        <th scope="col" [cAlign]="'middle'">STT</th>
                        <th scope="col" [cAlign]="'middle'">
                            <div style="width: 10vw;">
                                Màn hình hiển thị
                            </div>
                        </th>
                        <th scope="col" [cAlign]="'middle'">Tên gói</th>
                        <th scope="col" [cAlign]="'middle'">Khách Hàng</th>
                        <th scope="col" [cAlign]="'middle'">Công ty</th>
                        <th scope="col" [cAlign]="'middle'">Ngày bắt đầu hiệu lực</th>
                        <th scope="col" [cAlign]="'middle'">Ngày hết hiệu lực</th>
                        <th scope="col" [cAlign]="'middle'">Ngày mua</th>
                        <th scope="col" [cAlign]="'middle'">Ngày cập nhật</th>
                        <th scope="col" [cAlign]="'middle'">Ngày duyệt</th>
                        <th scope="col" [cAlign]="'middle'">Trạng thái</th>
                        <th scope="col" [cAlign]="'middle'" class="text-center">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="loading">
                        <td class="text-center" colspan="11">
                            <c-spinner></c-spinner>
                        </td>
                    </tr>
                    <tr *ngIf="!loading && !list.length">
                        <td class="text-center" colspan="11">
                            <span>Không tìm thấy yêu cầu nào.</span>
                        </td>
                    </tr>
                    <tr *ngFor="let item of list; let index = index">
                        <td>{{item.stt}}</td>
                        <td>{{bannerTitle[item.displayPosition]}}</td>
                        <td>
                            {{item.packageName}}
                        </td>
                        <td>
                            <p>{{item.recruiterName}}</p>
                        </td>
                        <td>
                            {{item.companyName}}
                        </td>
                        <td>
                            {{item.applyStartDate | date: 'dd/MM/YYYY'}}
                        </td>
                        <td>
                            {{item.applyEndDate | date: 'dd/MM/YYYY'}}
                        </td>
                        <td>
                            <p>{{item.buyDate | date: 'dd/MM/YYYY'}}</p>
                        </td>
                        <td>
                            {{item.updatedAt | date: 'dd/MM/YYYY'}}
                        </td>
                        <td>
                            {{item.approvalDate | date: 'dd/MM/YYYY'}}
                        </td>
                        <td>
                            {{map[item.approvalStatus]}}
                        </td>
                        <td style="width: 10vw;" class="text-center">
                            <ng-container *ngIf="item.approvalStatus === status.pending">
                                <button cButton color="success" (click)="updateStatus(status.approve,item)">Chấp
                                    nhận</button>
                                <button cButton color="danger" (click)="updateStatus(status.reject,item)">Từ
                                    chối</button>
                            </ng-container>
                            <button cButton color="primary" (click)="preview(previewTemp,item)">Xem banner</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination [previousText]="'Trang trước'" [nextText]="'Trang tiếp'" [totalItems]="totals"
                [itemsPerPage]="pagination.pageSize" *ngIf="list.length || (totals / pagination.pageSize) > 1"
                (pageChanged)="pageChange($event)">
            </pagination>
        </ng-container>
    </c-card-body>
</c-card>
<ng-template #previewTemp>
    <img src="{{selectedItem.bannerImageUrl}}" alt="">
</ng-template>

<ng-template #loadingTemp>
    <div class="text-center">
        <c-spinner></c-spinner>
    </div>
</ng-template>