<c-modal-header>
  <h5 cModalTitle>{{titleModal}}</h5>
  <button cButtonClose (click)="onClose.emit()" [disabled]="loading"></button>
</c-modal-header>
<c-modal-body>
  <form [formGroup]="form" cForm class="row needs-validation" [validated]="(form.touched || form.dirty) " novalidate
    (ngSubmit)="submit()">
    <c-col xs="12" *ngIf="form.controls['title']; let control">
      <label cLabel for="title">Tên gói</label>
      <input cFormControl id="title" formControlName="title" type="text"
        [valid]="(form.touched || form.dirty) ? control.errors == null : undefined" placeholder="gói dịch vụ A" />
      <c-form-feedback *ngIf="control.errors">
        Tên gói không hợp lệ</c-form-feedback>
    </c-col>
    <!-- <c-col xs="6" *ngIf="form.controls['rentalPackageId']; let control">
      <label cLabel for="rentalPackageId">Nhóm dịch vụ</label>
      <input cFormControl id="rentalPackageId" type="text" value="{{rentalName}}" disabled />
    </c-col> -->
    <c-col xs="6" *ngIf="form.controls['price']; let control">
      <label cLabel for="price">Giá</label>
      <input cFormControl id="price" formControlName="price" type="number" placeholder="100000" min="50000" required />
      <c-form-feedback [valid]="false">Giá không hợp lệ</c-form-feedback>
    </c-col>
    <c-col xs="6" *ngIf="form.controls['discount']; let control">
      <label cLabel for="discount">Giá sau khi giảm</label>
      <input cFormControl id="discount" formControlName="discount" type="number" placeholder="100000" />
      <c-form-feedback [valid]="false">Giá sau khi giảm không hợp lệ</c-form-feedback>
    </c-col>
    <c-col xs="6" *ngIf="form.controls['timeExpired']; let control">
      <label cLabel for="timeExpired">Thời gian hiệu lực</label>
      <c-input-group>
        <input cFormControl id="timeExpired" formControlName="timeExpired" placeholder="1" type="number" value="14"
          min="0" required />
        <span cInputGroupText>Ngày</span>
        <c-form-feedback [valid]="false">Thời gian hiệu lực không hợp lệ</c-form-feedback>
      </c-input-group>
    </c-col>
    <p>Vị trí hiển thị</p>
    <c-row>
      <c-col xs="6" *ngIf="form.controls['spotlight']; let control">
        <c-form-check>
          <input cFormCheckInput id="spotlight" type="checkbox" formControlName="spotlight" />
          <label cFormCheckLabel for="spotlight">Popup khi vào trang chủ</label>
        </c-form-check>
      </c-col>
      <c-col xs="6" *ngIf="form.controls['homepageBannerA']; let control">
        <c-form-check>
          <input cFormCheckInput id="homepageBannerA" type="checkbox" formControlName="homepageBannerA" />
          <label cFormCheckLabel for="homepageBannerA">Trang chủ khu vực A</label>
        </c-form-check>
      </c-col>
      <c-col xs="6" *ngIf="form.controls['homePageBannerB']; let control">
        <c-form-check>
          <input cFormCheckInput id="homePageBannerB" type="checkbox" formControlName="homePageBannerB" />
          <label cFormCheckLabel for="homePageBannerB">Trang chủ khu vực B</label>
        </c-form-check>
      </c-col>
      <c-col xs="6" *ngIf="form.controls['homePageBannerC']; let control">
        <c-form-check>
          <input cFormCheckInput id="homePageBannerC" type="checkbox" formControlName="homePageBannerC" />
          <label cFormCheckLabel for="homePageBannerC">Trang chủ khu vực C</label>
        </c-form-check>
      </c-col>
      <c-col xs="6" *ngIf="form.controls['jobBannerA']; let control">
        <c-form-check>
          <input cFormCheckInput id="jobBannerA" type="checkbox" formControlName="jobBannerA" />
          <label cFormCheckLabel for="jobBannerA">Trang công việc khu vực A</label>
        </c-form-check>
      </c-col>
      <c-col xs="6" *ngIf="form.controls['jobBannerB']; let control">
        <c-form-check>
          <input cFormCheckInput id="jobBannerB" type="checkbox" formControlName="jobBannerB" />
          <label cFormCheckLabel for="jobBannerB">Trang công việc khu vực B</label>
        </c-form-check>
      </c-col>
      <c-col xs="6" *ngIf="form.controls['jobBannerC']; let control">
        <c-form-check>
          <input cFormCheckInput id="jobBannerC" type="checkbox" formControlName="jobBannerC" />
          <label cFormCheckLabel for="jobBannerC">Trang công việc khu vực C</label>
        </c-form-check>
      </c-col>
    </c-row>
    <!-- <c-col xs="6" *ngIf="form.controls['suggestJob']; let control">
      <c-form-check>
        <input cFormCheckInput id="suggestJob" type="checkbox" />
        <label cFormCheckLabel for="suggestJob">Gợi ý công việc</label>
      </c-form-check>
    </c-col> -->
    <c-col xs="12" *ngIf="form.controls['description']; let control" class="mb-3">
      <label cLabel for="description">Mô tả</label>
      <textarea cFormControl id="description" formControlName="description" type="text"
        placeholder="Mô tả gói dịch vụ"></textarea>
    </c-col>
    <div class="d-flex justify-content-end">
      <button cButton class="me-1" color="primary" type="submit" [disabled]="loading">
        {{btnLabel}} <c-spinner size="sm" *ngIf="loading"></c-spinner>
      </button>
    </div>
  </form>
</c-modal-body>