<c-modal-header>
  <h5 cModalTitle>{{titleModal}}</h5>
  <button cButtonClose (click)="onClose.emit()" [disabled]="loading"></button>
</c-modal-header>
<c-modal-body>
  <form [formGroup]="form" cForm class="needs-validation" [validated]="(form.touched || form.dirty) " novalidate
    (ngSubmit)="submit()">
    <c-row>
      <c-col xs="6" *ngIf="form.controls['detailName']; let control">
        <label cLabel for="detailName">Tên gói</label>
        <input cFormControl id="detailName" formControlName="detailName" type="text" placeholder="gói dịch vụ A"
          [valid]="(form.touched || form.dirty) ? control.errors == null : undefined" />
        <c-form-feedback *ngIf="control.errors">
          Tên gói không hợp lệ</c-form-feedback>
      </c-col>
      <c-col xs="6">
        <c-row>
          <c-col xs="12">
            <label cLabel>Hiển thị cho ứng viên</label>
          </c-col>
          <c-col xs="12" class="d-flex align-items-center ">
            <c-row class="flex-fill">
              <c-col xs="6" *ngIf="form.controls['isRelatedJob']; let control">
                <c-form-check>
                  <input cFormCheckInput id="isRelatedJob" type="checkbox" formControlName="isRelatedJob" />
                  <label cFormCheckLabel for="isRelatedJob">Công việc liên quan</label>
                </c-form-check>
              </c-col>
              <c-col xs="6" *ngIf="form.controls['isSuggestJob']; let control">
                <c-form-check>
                  <input cFormCheckInput id="isSuggestJob" type="checkbox" formControlName="isSuggestJob" />
                  <label cFormCheckLabel for="isSuggestJob">Gợi ý công việc</label>
                </c-form-check>
              </c-col>
            </c-row>
          </c-col>
        </c-row>
      </c-col>
    </c-row>
    <c-row>
      <c-col xs="6" *ngIf="form.controls['price']; let control">
        <label cLabel for="price">Giá</label>
        <input cFormControl id="price" formControlName="price" type="number" placeholder="50000" min="50000" required />
        <c-form-feedback [valid]="false">Giá không hợp lệ</c-form-feedback>
      </c-col>
      <c-col xs="6">
        <c-row>
          <label cLabel>Hiển thị chung</label>
        </c-row>
        <c-row>
          <c-col xs="12" *ngIf="form.controls['radioField'];let control" class="d-flex align-items-center">
            <c-form-check inline>
              <input cFormCheckInput checked id="isPopular" [value]="radioFieldValue.isPopularJob"
                formControlName="radioField" type="radio" />
              <label cFormCheckLabel for="isPopular">Công việc phổ biến</label>
            </c-form-check>
            <c-form-check inline>
              <input cFormCheckInput id="isNewJob" [value]="radioFieldValue.isNewJob" formControlName="radioField"
                type="radio" />
              <label cFormCheckLabel for="isNewJob">Công việc mới nhất</label>
            </c-form-check>
            <c-form-check inline>
              <input cFormCheckInput id="isUrgentJob" [value]="radioFieldValue.isUrgentJob" formControlName="radioField"
                type="radio" />
              <label cFormCheckLabel for="isUrgentJob">Công việc tuyển gấp</label>
            </c-form-check>
          </c-col>
        </c-row>
      </c-col>
    </c-row>
    <c-row>
      <c-col xs="6" *ngIf="form.controls['discount']; let control">
        <label cLabel for="discount">Giá sau khi giảm</label>
        <input cFormControl id="discount" formControlName="discount" type="number" placeholder="50000" />
        <c-form-feedback [valid]="false">Giá sau khi giảm không hợp lệ</c-form-feedback>
      </c-col>
    </c-row>
    <c-row>
      <c-col xs="6" *ngIf="form.controls['maxCvView']; let control">
        <label cLabel for="maxCvView">Số CV tối đa được xem</label>
        <input cFormControl id="maxCvView" formControlName="maxCvView" type="number" placeholder="1" min="1" />
        <c-form-feedback [valid]="false">Số CV tối đa được xem không hợp lệ</c-form-feedback>
      </c-col>
    </c-row>
    <c-row>
      <c-col xs="6" *ngIf="form.controls['timeExpired']; let control">
        <label cLabel for="timeExpired">Thời gian hiệu lực</label>
        <c-input-group>
          <input cFormControl id="timeExpired" formControlName="timeExpired" placeholder="1" type="number" value="1"
            min="1" required />
          <span cInputGroupText>Ngày</span>
        </c-input-group>
        <c-form-feedback [valid]="false">Thời gian hiệu lực không hợp lệ</c-form-feedback>
      </c-col>
    </c-row>
    <c-col xs="12" *ngIf="form.controls['description']; let control" class="mb-3">
      <label cLabel for="description">Mô tả</label>
      <textarea cFormControl id="description" formControlName="description" type="text"
        placeholder="Mô tả gói dịch vụ"></textarea>
    </c-col>
    <div class="d-flex justify-content-end">
      <button cButton class="me-1" color="primary" type="submit" [disabled]="loading">
        {{btnLabel}} <c-spinner size="sm" *ngIf="loading"></c-spinner>
      </button>
    </div>
  </form>
</c-modal-body>