<c-modal-header>
  <h5 cModalTitle>Thông tin tài khoản</h5>
  <button cButtonClose (click)="onClose.emit()"></button>
</c-modal-header>
<c-modal-body>

  <div *ngIf="loading" class="text-center">
    <c-spinner></c-spinner>
  </div>
  <c-accordion *ngIf="!loading">
    <c-accordion-item #item0="cAccordionItem" [visible]="true">
      <ng-template cTemplateId="accordionHeaderTemplate">
        <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton>
          Thông tin cơ bản
        </button>
      </ng-template>
      <ng-template cTemplateId="accordionBodyTemplate">
        <div class="p-3">
          <p>
            Tên đầy đủ: {{candidate.fullName || recruiter.fullName || '(Chưa có)'}}
          </p>
          <p>
            Email: {{info.email}} {{info.verifiedEmail ? '(Đã xác thực)' : '(Chưa xác thực)'}}
          </p>
          <p>
            Tên đăng nhập: {{info.username}}
          </p>
          <p>
            Số điện thoại: {{info.phone || 'chưa có'}} {{info.verifiedPhone ? '(Đã xác thực)' : '(Chưa xác thực)'}}
          </p>
          <p>
            Lần cuối đăng nhập: {{info.lastLoginTime | date: 'dd/MM/YYYY'}}
          </p>
          <p>
            Bị khóa: {{info.locked ? 'Có' : 'Không'}}
          </p>
          <p>
            Lần cuối cập nhật thông tin: {{(info.updatedAt || info.createdAt) | date: 'dd/MM/YYYY'}}
          </p>
        </div>
      </ng-template>
    </c-accordion-item>
    <c-accordion-item #item1="cAccordionItem" [visible]="false">
      <ng-template cTemplateId="accordionHeaderTemplate">
        <button (click)="item1.toggleItem()" [collapsed]="!item1.visible" cAccordionButton>
          Thông tin thêm
        </button>
      </ng-template>
      <ng-template cTemplateId="accordionBodyTemplate">
        <ng-container *ngIf="candidate?.id">
          <div class="p-3">
            <p>
              Ngày sinh: {{candidate.birthDate | date: 'dd/MM/YYYY'}}
            </p>
            <p>
              Địa chỉ: {{candidate.address || '(Chưa có)'}}
            </p>
            <p>
              Quốc gia: {{candidate.country || '(Chưa có)'}}
            </p>
            <p>
              Giới tính: {{candidate.gender ? 'Nam' : 'Nữ'}}
            </p>
            <p>
              Liên kết mạng xã hội: <a href="{{candidate.socialLink || 'javascript:void(0)'}}"
                target="_blank">{{candidate.socialLink || '(Chưa có)'}}</a>
            </p>
            <p>
              Giới thiệu bản thân: {{candidate.introduction || '(Chưa có)'}}
            </p>
          </div>
        </ng-container>
        <ng-container *ngIf="recruiter?.recruiterId">
          <div class="p-3">

            <p>
              Tên công ty: {{recruiter.companyName || '(Chưa có)'}}
            </p>
            <p>
              Địa chỉ công ty: {{recruiter.companyAddress}}
            </p>
            <p>
              Liên kết mạng xã hội: <a href="{{recruiter.linkedinAccount || 'javascript:void(0)'}}"
                target="_blank">{{recruiter.linkedinAccount || '(Chưa có)'}}</a>
            </p>
          </div>
        </ng-container>

      </ng-template>
    </c-accordion-item>
  </c-accordion>


</c-modal-body>