<app-widgets-dropdown></app-widgets-dropdown>
<c-card class="mb-4">
  <c-card-header>
    <strong>Thông tin</strong>
  </c-card-header>
  <c-card-body>
    <table cTable bordered>
      <thead>
        <tr>
          <th scope="col" [cAlign]="'middle'">Người dùng</th>
          <th scope="col" [cAlign]="'middle'" class="text-end">Số lượng</th>
          <th scope="col" [cAlign]="'middle'" class="text-end">Đăng ký hôm nay</th>
          <th scope="col" [cAlign]="'middle'" class="text-end">Đăng ký tháng vừa qua</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Quản trị</th>
          <td class="text-end">{{infoAccounts[role.admin].Total}}</td>
          <td class="text-end">{{infoAccounts[role.admin].Today}}</td>
          <td class="text-end">{{infoAccounts[role.admin].Month}}</td>
        </tr>
        <tr>
          <th scope="row">Ứng viên</th>
          <td class="text-end">{{infoAccounts[role.candidate].Total}}</td>
          <td class="text-end">{{infoAccounts[role.candidate].Today}}</td>
          <td class="text-end">{{infoAccounts[role.candidate].Month}}</td>
        </tr>
        <tr>
          <th scope="row">Nhà tuyển dụng</th>
          <td class="text-end">{{infoAccounts[role.recruiter].Total}}</td>
          <td class="text-end">{{infoAccounts[role.recruiter].Today}}</td>
          <td class="text-end">{{infoAccounts[role.recruiter].Month}}</td>
        </tr>
      </tbody>
    </table>
  </c-card-body>
</c-card>
<!-- <c-card class="mb-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">
          Traffic
        </h4>
        <div class="small text-medium-emphasis">January - December 2021</div>
      </c-col>
      <c-col class="d-none d-md-block" sm="7">
        <button cButton class="float-end" color="primary">
          <svg cIcon name="cilCloudDownload"></svg>
        </button>
        <form [formGroup]="trafficRadioGroup">
          <c-button-group class="float-end me-3" role="group">
            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Day"
            />
            <label
              (click)="setTrafficPeriod('Day')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Day</label>

            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Month"
            />
            <label
              (click)="setTrafficPeriod('Month')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Month</label>

            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Year"
            />
            <label
              (click)="setTrafficPeriod('Year')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Year</label>
          </c-button-group>
        </form>
      </c-col>
    </c-row>
    <c-chart [data]="mainChart.data"
             [height]="300"
             [ngStyle]="{'marginTop.px': 40}"
             [options]="mainChart.options"
             [type]="mainChart.type">
      Main chart
    </c-chart>
  </c-card-body>
  <c-card-footer>
    <c-row class="text-center" [md]="5" [xs]="1">
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Visits</div>
        <strong>29.703 Users (40%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="success" value="40"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Unique</div>
        <strong>24.093 Users (20%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="info" value="20"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Page views</div>
        <strong>78.706 Views (60%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="warning" value="60"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">New Users</div>
        <strong>22.123 Users (80%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="danger" value="80"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Bounce Rate</div>
        <strong>Average Rate (40.15%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar value="40"></c-progress-bar>
        </c-progress>
      </c-col>
    </c-row>
  </c-card-footer>
</c-card>

<app-widgets-brand [withCharts]="true"></app-widgets-brand>

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Traffic {{ "&" }} Sales</c-card-header>
      <c-card-body>
        <c-row>
          <c-col md="6" xl="6" xs="12">
            <c-row>
              <c-col sm="6">
                <div
                  class="border-start border-start-4 border-start-info py-1 px-3"
                >
                  <div class="text-medium-emphasis small">New Clients</div>
                  <div class="fs-5 fw-semibold">9,123</div>
                </div>
              </c-col>
              <c-col sm="6">
                <div
                  class="border-start border-start-4 border-start-danger py-1 px-3 mb-3"
                >
                  <div class="text-medium-emphasis small">
                    Recurring Clients
                  </div>
                  <div class="fs-5 fw-semibold">22,643</div>
                </div>
              </c-col>
            </c-row>

            <hr class="mt-0"/>

            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Monday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar
                    color="info"
                    value="34"
                  ></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar
                    color="danger"
                    value="78"
                  ></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Tuesday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar
                    color="info"
                    value="56"
                  ></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar
                    color="danger"
                    value="94"
                  ></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Wednesday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar
                    color="info"
                    value="12"
                  ></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar
                    color="danger"
                    value="67"
                  ></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Thursday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar
                    color="info"
                    value="43"
                  ></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar
                    color="danger"
                    value="91"
                  ></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Friday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar
                    color="info"
                    value="22"
                  ></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar
                    color="danger"
                    value="73"
                  ></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Saturday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar
                    color="info"
                    value="53"
                  ></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar
                    color="danger"
                    value="82"
                  ></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Sunday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar
                    color="info"
                    value="9"
                  ></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar
                    color="danger"
                    value="69"
                  ></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="legend text-center" ngPreserveWhitespaces>
              <small>
                <sup
                ><span class="badge badge-pill badge-sm bg-info"
                >&nbsp;</span
                ></sup
                >
                <span>New clients</span>
                &nbsp;&nbsp;
                <sup
                ><span class="badge badge-pill badge-sm bg-danger"
                >&nbsp;</span
                ></sup
                >
                <span>Recurring clients</span>
              </small>
            </div>
          </c-col>

          <c-col md="6" xl="6" xs="12">
            <c-row>
              <c-col sm="6">
                <div
                  class="border-start border-start-4 border-start-warning py-1 px-3 mb-3"
                >
                  <div class="text-medium-emphasis small">Page views</div>
                  <div class="fs-5 fw-semibold">78,623</div>
                </div>
              </c-col>
              <c-col sm="6">
                <div
                  class="border-start border-start-4 border-start-success py-1 px-3 mb-3"
                >
                  <div class="text-medium-emphasis small">Organic</div>
                  <div class="fs-5 fw-semibold">49,123</div>
                </div>
              </c-col>
            </c-row>

            <hr class="mt-0"/>

            <div class="progress-group mb-4">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cilUser"></svg>
                <span>Male</span>
                <span class="ms-auto font-semibold">43%</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar
                    color="warning"
                    value="43"
                  ></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-5">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cilUserFemale"></svg>
                <span>Female</span>
                <span class="ms-auto font-semibold">37%</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar
                    color="warning"
                    value="37"
                  ></c-progress-bar>
                </c-progress>
              </div>
            </div>

            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cibGoogle"></svg>
                <span>Organic Search</span>
                <span class="ms-auto font-semibold">
                  191,235 <span class="text-medium-emphasis small">(56%)</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar
                    color="success"
                    value="56"
                  ></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cibFacebook"></svg>
                <span>Facebook</span>
                <span class="ms-auto font-semibold">
                  51,223 <span class="text-medium-emphasis small">(15%)</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar
                    color="success"
                    value="15"
                  ></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cibTwitter"></svg>
                <span>Twitter</span>
                <span class="ms-auto font-semibold">
                  37,564 <span class="text-medium-emphasis small">(11%)</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar
                    color="success"
                    value="11"
                  ></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cibLinkedin"></svg>
                <span>LinkedIn</span>
                <span class="ms-auto font-semibold">
                  27,319 <span class="text-medium-emphasis small">(8%)</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar
                    color="success"
                    value="8"
                  ></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="divider d-flex justify-content-center">
              <button
                cButton
                class="text-muted btn-link"
                color="transparent"
                size="sm"
                type="button"
              >
                <svg cIcon name="cil-options"></svg>
              </button>
            </div>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Users</c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="light">
          <tr>
            <th class="text-center">
              <svg cIcon name="cilPeople"></svg>
            </th>
            <th>User</th>
            <th class="text-center">Country</th>
            <th>Usage</th>
            <th class="text-center">Payment Method</th>
            <th>Activity</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users; index as i">
            <td class="text-center">
              <c-avatar
                size="md"
                src="{{ user.avatar }}"
                status="{{ user.status }}"
              ></c-avatar>
            </td>
            <td>
              <div>{{ user.name }}</div>
              <div class="small text-medium-emphasis">
                <span>{{ user.state }}</span> | Registered:
                {{ user.registered }}
              </div>
            </td>
            <td class="text-center">
              <svg cIcon
                id="{{ user.country + user.name }}"
                name="cif{{ user.country }}"
                size="xl"
                title="{{ user.country }}"
              ></svg>
            </td>
            <td>
              <div class="clearfix">
                <div class="float-start">
                  <strong>{{ user.usage }}%</strong>
                </div>
                <div class="float-end">
                  <small class="text-medium-emphasis">
                    {{ user.period }}
                  </small>
                </div>
              </div>
              <c-progress thin
              >
                <c-progress-bar
                  [value]="user.usage"
                  color="{{ user.color }}"
                ></c-progress-bar
                >
              </c-progress>
            </td>
            <td class="text-center">
              <svg cIcon name="cibCc{{ user.payment }}" size="xl"></svg>
            </td>
            <td>
              <div class="small text-medium-emphasis">Last login</div>
              <strong>{{ user.activity }}</strong>
            </td>
          </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row> -->