<c-card class="mb-4">
  <c-card-body>
    <ng-container *ngIf="rentalPackageId === paymentRental.banner; else package">
      <app-payment-create-package-banner [rentalPackageId]="rentalPackageId" (onClose)="onClose()">
      </app-payment-create-package-banner>
    </ng-container>
  </c-card-body>
</c-card>
<ng-template #package>
  <app-payment-create-package (onClose)="onClose()" [rentalPackageId]="rentalPackageId"
    *ngIf="rentalPackageId === paymentRental.candidate"></app-payment-create-package>
  <app-payment-create-package-main (onClose)="onClose()" [rentalPackageId]="rentalPackageId"
    *ngIf="rentalPackageId === paymentRental.advertisement"></app-payment-create-package-main>
</ng-template>