<c-card class="mb-4">
    <c-card-header>
        <strong>Bài đăng công việc bị báo cáo</strong>
    </c-card-header>
    <c-card-body>
        <form [formGroup]="form" novalidate crow cForm class="row needs-validation mb-3" (ngSubmit)="submit()">
            <c-col xs="4" *ngIf="form.controls['jobName']; let control">
                <label cLabel for="jobName">Tên công việc</label>
                <input cFormControl id="jobName" placeholder="Nhân viên kinh doanh" formControlName="jobName"
                    type="text" />
            </c-col>
            <c-col xs="4" *ngIf="form.controls['createdAtFrom']; let control">
                <label cLabel for="createdAtFrom">Thời gian tạo từ</label>
                <input cFormControl id="createdAtFrom" formControlName="createdAtFrom" placeholder="09/05/2000"
                    bsDatepicker />
            </c-col>
            <c-col xs="4" *ngIf="form.controls['createdAtTo']; let control">
                <label cLabel for="createdAtTo">Đến thời gian tạo</label>
                <input cFormControl id="createdAtTo" formControlName="createdAtTo" bsDatepicker
                    placeholder="09/05/2000" />
            </c-col>
            <c-col xs="4" *ngIf="form.controls['updatedAtFrom']; let control">
                <label cLabel for="updatedAtFrom">Thời gian cập nhật từ</label>
                <input cFormControl id="updatedAtFrom" formControlName="updatedAtFrom" bsDatepicker
                    placeholder="09/05/2000" />
            </c-col>
            <c-col xs="4" *ngIf="form.controls['updatedAtTo']; let control">
                <label cLabel for="updatedAtTo">Đến thời gian cập nhật</label>
                <input cFormControl id="updatedAtTo" formControlName="updatedAtTo" bsDatepicker
                    placeholder="09/05/2000" />
            </c-col>
            <c-col xs="4" class="d-flex align-items-end">
                <button cButton type="submit">Tìm kiếm</button>
            </c-col>
        </form>
        <table cTable bordered>
            <thead>
                <tr>
                    <th scope="col" [cAlign]="'middle'">STT</th>
                    <th scope="col" [cAlign]="'middle'">Tiêu đề công việc</th>
                    <th scope="col" [cAlign]="'middle'" style="width: 15rem;">Tên công ty</th>
                    <th scope="col" [cAlign]="'middle'">Tên người báo cáo</th>
                    <th scope="col" [cAlign]="'middle'">Số điện thoại</th>
                    <th scope="col" [cAlign]="'middle'">Ngày tạo</th>
                    <th scope="col" [cAlign]="'middle'">Ngày cập nhật</th>
                    <th scope="col" [cAlign]="'middle'">Trạng thái</th>
                    <th scope="col" [cAlign]="'middle'">Hành động</th>
                </tr>
            </thead>
            <tbody *ngIf="listReport$ | async;let list; else loadTemp">
                <tr *ngIf="loading">
                    <td [colSpan]="9" class="text-center">
                        <c-spinner color="primary"></c-spinner>
                    </td>
                </tr>
                <tr *ngIf="!loading && !list.length">
                    <td [colSpan]="9" class="text-center">
                        <span>Không tìm thấy báo cáo nào</span>
                    </td>
                </tr>
                <tr *ngFor="let item of list">
                    <td>{{item.stt}}</td>
                    <td>{{item.jobName}}</td>
                    <td>{{item.companyName}}</td>
                    <td>{{item.fullName}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.createdAt | date: 'dd/MM/YYYY'}}</td>
                    <td>{{item.updatedAt | date: 'dd/MM/YYYY'}}</td>
                    <td>{{map[item.approvalReportedStatus]}}</td>
                    <td>
                        <c-button-group *ngIf="item.approvalReportedStatus === status.pending">
                            <button cButton (click)="deleteJob(item,status.approve)">Chấp nhận</button>
                            <button cButton color="danger" (click)="deleteJob(item,status.reject)">Hủy</button>
                        </c-button-group>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination [previousText]="'Trang trước'" [nextText]="'Trang tiếp'" [totalItems]="total"
            [itemsPerPage]="defaultPagination.pageSize" (pageChanged)="onPageChange($event)">
        </pagination>
    </c-card-body>
</c-card>
<ng-template #loadTemp>
    <div class="text-center">
        <c-spinner color="primary"></c-spinner>
    </div>
</ng-template>