<c-card class="mb-3">
  <c-card-header ngPreserveWhitespaces>
    <strong>Danh sách tài khoản</strong>
  </c-card-header>
  <c-card-body>
    <c-nav variant="tabs">
      <c-nav-item>
        <a [active]="true" [cTabContent]="tabContent1" routerLink="./" [tabPaneIdx]="0" cNavLink
          (click)="changeTab(tabValue.Recruiter)">
          <svg cIcon class="me-2" name="cilHome"></svg> Nhà tuyển dụng
        </a>
      </c-nav-item>
      <c-nav-item>
        <a [cTabContent]="tabContent1" routerLink="./" [tabPaneIdx]="1" cNavLink
          (click)="changeTab(tabValue.Candidate)">
          <svg cIcon class="me-2" name="cilUser"></svg> Ứng viên
        </a>
      </c-nav-item>
      <c-nav-item>
        <a [cTabContent]="tabContent1" routerLink="./" [tabPaneIdx]="2" cNavLink (click)="changeTab(tabValue.Admin)">
          <svg cIcon class="me-2" name="cilCode"></svg> Quản trị
        </a>
      </c-nav-item>
    </c-nav>
    <c-tab-content #tabContent1="cTabContent" [activeTabPaneIdx]="1" cRounded="bottom">
      <c-tab-pane class="p-3 preview" role="tabpanel">
        <ng-container [ngTemplateOutlet]="filterTemp"></ng-container>
        <table cTable>
          <thead>
            <tr>
              <th scope="col" [cAlign]="'middle'">STT</th>
              <th scope="col" [cAlign]="'middle'">Mã người dùng</th>
              <th scope="col" [cAlign]="'middle'">Tên đăng nhập</th>
              <th scope="col" [cAlign]="'middle'">Tên đầy đủ</th>
              <th scope="col" [cAlign]="'middle'">Lần cuối đăng nhập</th>
              <!-- <th scope="col" [cAlign]="'middle'">Kích hoạt/Tắt</th> -->
              <th scope="col" [cAlign]="'middle'">Mở/Khóa</th>
              <th scope="col" [cAlign]="'middle'">Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="loading">
              <td [colSpan]="7">
                <div class="text-center">
                  <c-spinner></c-spinner>
                </div>
              </td>
            </tr>
            <tr *ngIf="!loading && !listUser.length">
              <td [colSpan]="7">
                <div class="text-center">
                  <span>Không tìm thấy người dùng</span>
                </div>
              </td>
            </tr>
            <tr *ngFor="let item of listUser; let index =index">
              <th>{{item.stt}}</th>
              <th scope="row">{{item.userId}}</th>
              <td>{{item.username}}</td>
              <td>{{item.fullName}}</td>
              <td>{{item.lastLoginTime | date: 'dd/MM/YYYY'}}</td>
              <!-- <td>
                <button cButton [color]="item.isActive ? 'danger' : 'success'"
                  (click)="activeDeActive(item)">{{item.isActive ? 'Tắt' : 'Kích hoạt'}}</button>
              </td> -->
              <td>
                <button cButton (click)="lockUnlock(item)"
                  [color]="!item.isLocked ? 'danger' : 'success'">{{item.isLocked ?
                  'Mở':'Khóa'}}</button>
              </td>
              <td>
                <button cButton (click)="openDetailAccount(item.userId)">Xem thông tin</button>
              </td>
            </tr>
          </tbody>
        </table>

      </c-tab-pane>
      <c-tab-pane class="p-3 preview" role="tabpanel">
        <ng-container [ngTemplateOutlet]="filterTemp"></ng-container>

        <table cTable>
          <thead>
            <tr>
              <th scope="col" [cAlign]="'middle'">STT</th>
              <th scope="col" [cAlign]="'middle'">Mã người dùng</th>
              <th scope="col" [cAlign]="'middle'">Tên đăng nhập</th>
              <th scope="col" [cAlign]="'middle'">Tên đầy đủ</th>
              <th scope="col" [cAlign]="'middle'">Lần cuối đăng nhập</th>
              <!-- <th scope="col" [cAlign]="'middle'">Active/De-active(Y/N)</th> -->
              <th scope="col" [cAlign]="'middle'">Khóa</th>
              <th scope="col" [cAlign]="'middle'">Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="loading">
              <td [colSpan]="7">
                <div class="text-center">
                  <c-spinner></c-spinner>
                </div>
              </td>
            </tr>
            <tr *ngIf="!loading && !listUser.length">
              <td [colSpan]="7">
                <div class="text-center">
                  <span>Không tìm thấy người dùng</span>
                </div>
              </td>
            </tr>
            <tr *ngFor="let item of listUser; let index =index">
              <td>{{item.stt}}</td>
              <th scope="row">{{item.userId}}</th>
              <td>{{item.userName}}</td>
              <td>{{item.fullName}}</td>
              <td>{{item.lastLoginTime | date: 'dd/MM/YYYY'}}</td>
              <!-- <td>
                <button cButton [color]="item.isActive ? 'danger' : 'success'"
                  (click)="activeDeActive(item)">{{item.isActive ? 'Tắt' : 'Kích hoạt'}}</button>
              </td> -->
              <td>
                <button cButton (click)="lockUnlock(item)"
                  [color]="!item.isLocked ? 'danger' : 'success'">{{item.isLocked ?
                  'Mở':'Khóa'}}</button>
              </td>
              <td>
                <button cButton (click)="openDetailAccount(item.userId)">Xem thông tin</button>
              </td>
            </tr>
          </tbody>
        </table>

      </c-tab-pane>
      <c-tab-pane class="p-3 preview" role="tabpanel">
        <ng-container [ngTemplateOutlet]="filterTemp"></ng-container>
        <table cTable>
          <thead>
            <tr>
              <th scope="col" [cAlign]="'middle'">STT</th>
              <th scope="col" [cAlign]="'middle'">Mã người dùng</th>
              <th scope="col" [cAlign]="'middle'">Tên đăng nhập</th>
              <th scope="col" [cAlign]="'middle'">Tên đầy đủ</th>
              <th scope="col" [cAlign]="'middle'">Lần cuối đăng nhập</th>
              <th scope="col" [cAlign]="'middle'">Vai trò</th>
              <th scope="col" [cAlign]="'middle'">Khóa</th>
              <th scope="col" [cAlign]="'middle'">Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="loading">
              <td [colSpan]="7">
                <div class="text-center">
                  <c-spinner></c-spinner>
                </div>
              </td>
            </tr>
            <tr *ngIf="!loading && !listUser.length">
              <td [colSpan]="7">
                <div class="text-center">
                  <span>Không tìm thấy người dùng</span>
                </div>
              </td>
            </tr>
            <tr *ngFor="let item of listUser; let index =index">
              <td>{{item.stt}}</td>
              <th scope="row">{{item.userId}}</th>
              <td>{{item.userName}}</td>
              <td>{{item.fullName}}</td>
              <td>{{item.lastLoginTime | date: 'dd/MM/YYYY'}}</td>
              <td>
                {{roleMapper[item.roleId]}}
              </td>
              <td>
                <button cButton (click)="lockUnlock(item)"
                  [color]="!item.isLocked ? 'danger' : 'success'">{{item.isLocked ?
                  'Mở':'Khóa'}}</button>
              </td>
              <td>
                <button cButton (click)="openDetailAccount(item.userId)">Xem thông tin</button>
              </td>
            </tr>
          </tbody>
        </table>
      </c-tab-pane>
    </c-tab-content>
    <pagination [previousText]="'Trang trước'" [nextText]="'Trang tiếp'" [totalItems]="totalItems"
      [itemsPerPage]="request.pageSize" [(ngModel)]="request.pageNo" (pageChanged)="onPageChange($event)">
    </pagination>
  </c-card-body>
</c-card>

<ng-template #filterTemp>
  <div class="row mb-3">
    <div class="col-4">
      <label cLabel for="username">Tên đăng nhập</label>
      <input cFormControl id="username" placeholder="Tên đăng nhập" type="text" [(ngModel)]="request.username" />
    </div>
    <div class="col-4">
      <label cLabel for="email">Email</label>
      <input cFormControl id="email" placeholder="nguyenvana@gmail.com" type="email" [(ngModel)]="request.email" />
    </div>
    <div class="col-4">
      <label cLabel for="fullName">Tên đầy đủ</label>
      <input cFormControl id="fullName" placeholder="Nguyen Van A" type="text" [(ngModel)]="request.fullName" />
    </div>
    <div class="col-4">
      <label cLabel for="userId">Mã người dùng</label>
      <input cFormControl id="userId" placeholder="12345" type="number" [(ngModel)]="request.userId" />
    </div>
    <div class="col-4">
      <label cLabel for="status">Trạng thái:</label>
      <select name="status" cSelect id="status" [(ngModel)]="request.isLocked">
        <option value="true">Khóa</option>
        <option value="false" selected>Không khóa</option>
      </select>
    </div>
    <div class="col-4 d-flex align-items-end">
      <button [color]="'primary'" cButton (click)="search()" class="me-3">Tìm kiếm</button>
      <button [color]="'info'" cButton (click)="createAccount()" *ngIf="request.tab === 'Admin'">Tạo tài khoản
        quản trị
        viên</button>
    </div>
  </div>
</ng-template>