<c-card class="mb-4">
    <c-card-header>
        <strong>Quản lý lợi nhuận</strong>
    </c-card-header>
    <c-card-body>
        <div class="d-flex justify-content-between mb-3">
            <div class="d-flex">
                <div class="me-3 d-flex align-items-center">
                    <label for="startDate" cLabel class="me-1 text-nowrap">Từ ngày: </label>
                    <input type="text" bsDatepicker id="startDate" cFormControl [(ngModel)]="filter.startDate">
                </div>
                <div class="me-3 d-flex align-items-center">
                    <label for="endddate" cLabel class="me-1 text-nowrap">Đến ngày: </label>
                    <input type="text" id="endddate" bsDatepicker cFormControl [(ngModel)]="filter.endDate">
                </div>
                <button cButton (click)="search()" class="me-3">Tìm kiếm</button>
                <button cButton (click)="exportExcel()">Xuất excel</button>
            </div>
        </div>
        <span class="fw-bold">Chi tiết:</span>
        <table cTable bordered>
            <thead>
                <tr>
                    <th>STT</th>
                    <th scope="col" [cAlign]="'middle'">Ngày</th>
                    <th scope="col" [cAlign]="'middle'">Nhà tuyển dụng</th>
                    <th scope="col" [cAlign]="'middle'">Dịch vụ mua</th>
                    <th scope="col" [cAlign]="'middle'" class="text-end">Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of package; let index = index">
                    <td>{{item.stt}}</td>
                    <td>{{item.createdAt | date: 'dd-MM-yyyy'}}</td>
                    <td>
                        {{item.recruiterName}}
                    </td>
                    <td>
                        {{item.rentalPackageName}}
                    </td>
                    <td class="text-end">
                        {{item.amount | number: '1.0-1'}}VNĐ
                    </td>
                </tr>
                <tr *ngIf="!loading && package.length">
                    <td>
                        Tổng:
                    </td>
                    <td colspan="4">
                        <p class="text-end p-0 m-0">{{totalRevenue | number: '1.0-1' }}vnđ</p>
                    </td>
                </tr>
                <tr *ngIf="loading">
                    <td [colSpan]="5">
                        <div class="text-center">
                            <c-spinner></c-spinner>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="!loading && !package.length">
                    <td [colSpan]="5">
                        <div class="text-center">
                            <span>Không tìm thấy kết quả</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination [previousText]="'Trang trước'" [nextText]="'Trang tiếp'" [totalItems]="totals" [itemsPerPage]="pagination.pageSize" [(ngModel)]="pagination.pageNo" (pageChanged)="pageChange($event)" *ngIf="package.length"></pagination>
    </c-card-body>
</c-card>

<ng-template #benefit let-value="value" let-name="name">
    <p class="m-0">{{name}}: {{value ? 'Có' :'Không'}}</p>
</ng-template>