<c-row>
  <c-col sm="6" xl="4">
    <c-widget-stat-a class="mb-4" color="primary" title="Số tin tuyển dụng">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        {{statistic.countJob}}
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[0]" [options]="options[0]" class="mt-3 mx-3" height="70" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="4">
    <c-widget-stat-a [title]="'Số CV'" class="mb-4" color="info">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>{{statistic.countCv}}</span>
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[1]" [options]="options[1]" class="mt-3 mx-3" height="70" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="4">
    <c-widget-stat-a [title]="'Số người ứng tuyển'" class="mb-4" color="warning">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>{{statistic.countApplied}}</span>
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[2]" [options]="options[2]" class="mt-3" height="70" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
</c-row>