<c-card class="mb-4">
    <c-card-header>
        <strong>Quản lí giấy phép</strong>
    </c-card-header>
    <c-card-body>
        <form [formGroup]="form" novalidate crow cForm class="row needs-validation mb-3" (ngSubmit)="submit()">
            <c-col xs="5" *ngIf="form.controls['businessApprovalStatus']; let control">
                <label cLabel for="businessApprovalStatus" class="text-nowrap">Trạng thái giấy phép chính</label>
                <select cSelect id="businessApprovalStatus" formControlName="businessApprovalStatus">
                    <!-- <option value="">Tất cả</option> -->
                    <option value="{{item.value}}" *ngFor="let item of DROPDOWN_JOB_STATUS">{{item.label}}</option>
                </select>
            </c-col>
            <c-col xs="5" *ngIf="form.controls['additionalApprovalStatus']; let control">
                <label cLabel for="additionalApprovalStatus">Trạng thái giấy phép bổ sung</label>
                <select cSelect id="additionalApprovalStatus" formControlName="additionalApprovalStatus">
                    <!-- <option value="">Tất cả</option> -->
                    <option value="{{item.value}}" *ngFor="let item of DROPDOWN_JOB_STATUS">{{item.label}}</option>
                </select>
            </c-col>
            <c-col xs="2" class="d-flex align-items-end">
                <button cButton type="submit">Tìm kiếm</button>
            </c-col>
        </form>
        <table cTable bordered [responsive]="true">
            <thead>
                <tr>
                    <th scope="col" [cAlign]="'middle'">STT</th>
                    <th scope="col" [cAlign]="'middle'">Mã yêu cầu</th>
                    <th scope="col" [cAlign]="'middle'">Tên người yêu cầu</th>
                    <th scope="col" [cAlign]="'middle'" style="width: 8rem;">Giấy Phép</th>
                    <th scope="col" [cAlign]="'middle'">Trạng thái Giấy phép</th>
                    <th scope="col" [cAlign]="'middle'" style="width: 12rem;">Giấy phép bổ sung</th>
                    <th scope="col" [cAlign]="'middle'">Trạng thái giấy phép bổ sung</th>
                    <th scope="col" [cAlign]="'middle'">Ngày tạo</th>
                    <th scope="col" [cAlign]="'middle'">Ngày cập nhật</th>
                    <th scope="col" [cAlign]="'middle'">Hành động</th>

                </tr>
            </thead>
            <tbody *ngIf="listReport$ | async;let list; else tempLoad">
                <tr *ngIf="loading">
                    <td [colSpan]="10" class="text-center">
                        <c-spinner color="primary"></c-spinner>
                    </td>
                </tr>
                <tr *ngIf="!loading && !list.length">
                    <td [colSpan]="10" class="text-center">
                        <span>Không tìm thấy yêu cầu nào</span>
                    </td>
                </tr>
                <tr *ngFor="let item of list; let index = index">
                    <td>{{index+1}}</td>
                    <td>{{item.requestUserId}}</td>
                    <td>{{item.requestUserName}}</td>
                    <td>
                        <a href="{{item.businessLicenseUrl}}" *ngIf="item.businessLicenseUrl" target="_blank">Xem giấy
                            phép</a>
                        <span *ngIf="!item.businessLicenseUrl">(Chưa có)</span>
                    </td>
                    <td>{{map[item.businessLicenseApprovalStatus]}}</td>
                    <td>
                        <a href="{{item.additionalLicenseUrl}}" *ngIf="item.additionalLicenseUrl" target="_blank">Xem
                            giấy phép bổ sung</a>
                        <span *ngIf="!item.additionalLicenseUrl">(Chưa có)</span>
                    </td>
                    <td>{{map[item.additionalLicenseApprovalStatus]}}</td>
                    <td>{{item.createdAt | date: 'dd/MM/YYYY'}}</td>
                    <td>{{item.updatedAt | date: 'dd/MM/YYYY'}}</td>
                    <td>
                        <c-button-group *ngIf="item.businessLicenseApprovalStatus === 'Pending'" class="mb-3">
                            <button cButton color="danger" class="fit-content"
                                (click)="approveLicense(item,status.reject,1)" [disabled]="loadingStatus">Từ chối giấy
                                phép</button>
                            <button cButton (click)="approveLicense(item,status.approve,1)" class="fit-content"
                                [disabled]="loadingStatus">Đồng ý giấy
                                phép</button>
                        </c-button-group>
                        <c-button-group *ngIf="item.additionalLicenseApprovalStatus === 'Pending'">
                            <button cButton color="danger" (click)="approveLicense(item,status.reject,2)"
                                class="fit-content" [disabled]="loadingStatus">Từ chối giấy phép bổ sung</button>
                            <button cButton (click)="approveLicense(item,status.approve,2)" [disabled]="loadingStatus"
                                class="fit-content">Đồng ý giấy
                                phép bổ sung</button>
                        </c-button-group>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination [previousText]="'Trang trước'" [nextText]="'Trang tiếp'" [totalItems]="total"
            [itemsPerPage]="defaultPagination.pageSize" (pageChanged)="onPageChange($event)">
        </pagination>
    </c-card-body>
</c-card>
<ng-template #tempLoad>
    <div class="text-center">
        <c-spinner color="primary"></c-spinner>
    </div>
</ng-template>