<c-card class="mb-4">
    <c-card-header>
        <strong>Bài đăng công việc</strong>
    </c-card-header>
    <c-card-body>
        <form [formGroup]="form" novalidate crow cForm class="row needs-validation mb-3" (ngSubmit)="searchJob()">
            <c-col xs="4" *ngIf="form.controls['jobName']; let control">
                <label cLabel for="jobName">Tên công việc</label>
                <input cFormControl id="jobName" placeholder="Nhân viên kinh doanh" formControlName="jobName"
                    type="text" />
            </c-col>
            <c-col xs="4" *ngIf="form.controls['workPlace']; let control">
                <label cLabel for="workPlace">Địa điểm làm việc</label>
                <input cFormControl id="workPlace" formControlName="workPlace" placeholder="Trung kính, Hà Nội"
                    type="text" />
            </c-col>
            <c-col xs="4" *ngIf="form.controls['fromSalary']; let control">
                <label cLabel for="fromSalary">Mức lương tối thiểu</label>
                <input cFormControl id="fromSalary" formControlName="fromSalary" type="number" placeholder="100000" />
            </c-col>
            <c-col xs="4" *ngIf="form.controls['toSalary']; let control">
                <label cLabel for="toSalary">Mức lương tối đa</label>
                <input cFormControl id="toSalary" formControlName="toSalary" type="number" placeholder="100000" />
            </c-col>
            <c-col xs="4" *ngIf="form.controls['countryId']; let control">
                <label cLabel for="countryId">Nơi làm việc</label>
                <select cSelect id="countryId" formControlName="countryId">
                    <option value="0">Tất cả</option>
                    <option value="{{item.value}}" *ngFor="let item of country">{{item.label}}</option>
                </select>
            </c-col>
            <c-col xs="4" *ngIf="form.controls['fieldId']; let control">
                <label cLabel for="fieldId">Loại việc làm</label>
                <select cSelect id="fieldId" formControlName="fieldId">
                    <option value="0">Tất cả</option>
                    <option value="{{item.value}}" *ngFor="let item of fieldJob">{{item.label}}</option>
                </select>
            </c-col>
            <c-col xs="4" *ngIf="form.controls['workForm']; let control">
                <label cLabel for="workForm">Hình Thức làm việc</label>
                <select cSelect id="workForm" formControlName="workForm">
                    <option value="">Tất cả</option>
                    <option value="{{item.value}}" *ngFor="let item of DROPDOWN_JOB_STYLE">{{item.label}}</option>
                </select>
            </c-col>
            <c-col xs="4" class="d-flex align-items-end">
                <button cButton type="submit">Tìm kiếm</button>
            </c-col>
        </form>
        <table cTable bordered>
            <thead>
                <tr>
                    <th scope="col" [cAlign]="'middle'">STT</th>
                    <th scope="col" [cAlign]="'middle'">Mã công việc</th>
                    <th scope="col" [cAlign]="'middle'">Tiêu đề công việc</th>
                    <th scope="col" [cAlign]="'middle'">Tên công ty</th>
                    <th scope="col" [cAlign]="'middle'">Hình Thức làm việc</th>
                    <th scope="col" [cAlign]="'middle'">Nơi làm việc</th>
                    <th scope="col" [cAlign]="'middle'">Ngày tạo</th>
                    <th scope="col" [cAlign]="'middle'" class="text-center" style="width:15%">Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="loading">
                    <td [colSpan]="8" class="text-center">
                        <c-spinner color="primary"></c-spinner>
                    </td>
                </tr>
                <tr *ngIf="!jobs.length && !loading">
                    <td [colSpan]="8" class="text-center">
                        <span>Không tìm thấy công việc</span>
                    </td>
                </tr>
                <tr *ngFor="let item of jobs">
                    <td>{{item.stt}}</td>
                    <td>{{item.jobId}}</td>
                    <td>{{item.jobName}}</td>
                    <td>{{item.companyName}}</td>
                    <td>{{mapWorkingForm[item.workForm]}}</td>
                    <td>{{item.workPlace}}</td>
                    <td>{{item.createdAt | date: 'dd/MM/YYYY'}}</td>
                    <td class="text-center" style="width:15%">
                        <c-button-group>
                            <a cButton href="{{domain}}job/{{item.jobId}}" target="_blank">Xem</a>
                            <button cButton color="danger" (click)="deleteJob(item)">Ẩn</button>
                        </c-button-group>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination [previousText]="'Trang trước'" [nextText]="'Trang tiếp'" [totalItems]="totalPage"
            [itemsPerPage]="pagination.pageSize" [(ngModel)]="pagination.pageNo" (pageChanged)="onPageChange($event)">
        </pagination>
    </c-card-body>
</c-card>